stages:
  - test
  - test-coverage
  - build
  - deploy

unit_tests:
  stage: test
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == 'push'
  image:
    name: python:3.13.11
  variables:
    PRE_COMMIT_HOME: "$CI_PROJECT_DIR/.cache/pre-commit"
  cache:
    key: $CI_COMMIT_REF_NAME
    paths:
      - $PRE_COMMIT_HOME
      - .venv
  before_script:
    - python3 -m venv .venv
    - source .venv/bin/activate
    - pip install poetry==2.1.3
    - poetry config virtualenvs.in-project true
    - poetry install --with test,dev
  script:
    - poetry run pre-commit run --all-files
    - poetry run pytest --cov --cov-report term --cov-report xml:coverage.xml
  coverage: '/TOTAL.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/'
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
    paths:
      - coverage.xml

test_coverage_threshold:
  stage: test-coverage
  dependencies:
    - unit_tests
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == 'push'
  image:
    name: python:3.13.11
  before_script:
    - apt-get update && apt-get install -y bc
  script:
    - coverage="$(grep -oP '<coverage[^>]+line-rate="\K[0-9.]+' "coverage.xml")"
    - if (( $(echo "$coverage < 0.8" | bc -l) )); then
        echo "Code coverage is only $(echo "$coverage*100" | bc)%. We recommend a minimum of 80%." && exit 1;
      else
        exit 0;
      fi
  allow_failure:
    exit_codes:
      - 1

optional_linting:
  stage: test
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  image:
    name: python:3.13.11
  variables:
    PRE_COMMIT_HOME: "$CI_PROJECT_DIR/.cache/pre-commit"
  cache:
    key: $CI_COMMIT_REF_NAME
    paths:
      - $PRE_COMMIT_HOME
      - .venv
  before_script:
    - python3 -m venv .venv
    - source .venv/bin/activate
    - pip install pre-commit
  script:
    - pre-commit run -c .pre-commit-config-optional-linting.yaml --all-files
  allow_failure:
    exit_codes:
      - 1

build_staging:
  stage: build
  tags: [ k8s ]
  rules:
    - if: $CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "push"
  image: docker.io/docker:cli
  before_script:
    - echo ${CI_DOCKER_TOKEN} | docker --config ~/ca_config login ${REGISTRY_URL} -u ${CI_DOCKER_USER} --password-stdin
    - docker --config ~/ca_config buildx create --use --name=kube --driver remote tcp://amd64-buildkit-service.ci-cd.svc:1234
  script:
    - |
      docker --config ~/ca_config \
        buildx build \
        --builder=kube \
        --build-arg "CI_COMMIT_SHORT_SHA=${CI_COMMIT_SHORT_SHA}" \
        --cache-from=type=registry,ref=${REGISTRY_URL}/${GROUP_NAME}/${CI_PROJECT_NAME}:buildcache \
        --cache-to=type=registry,ref=${REGISTRY_URL}/${GROUP_NAME}/${CI_PROJECT_NAME}:buildcache,mode=max \
        --tag ${REGISTRY_URL}/${GROUP_NAME}/${CI_PROJECT_NAME}:devel \
        --tag ${REGISTRY_URL}/${GROUP_NAME}/${CI_PROJECT_NAME}:staging \
        --push \
        .

build_release:
  stage: build
  tags: [ k8s ]
  rules:
    - if: $CI_COMMIT_TAG
  image: docker.io/docker:cli
  before_script:
    - echo ${CI_DOCKER_TOKEN} | docker --config ~/ca_config login ${REGISTRY_URL} -u ${CI_DOCKER_USER} --password-stdin
    - docker --config ~/ca_config buildx create --use --name=kube --driver remote tcp://amd64-buildkit-service.ci-cd.svc:1234
  script:
    - |
      docker --config ~/ca_config \
        buildx build \
        --builder=kube \
        --platform=linux/amd64 \
        --tag ${REGISTRY_URL}/${GROUP_NAME}/${CI_PROJECT_NAME}:${CI_COMMIT_TAG} \
        --push \
        .

deploy_staging:
  stage: deploy
  tags: [ k8s ]
  needs:
    - build_staging
  rules:
    - !reference [ build_staging, rules ]
  image: repo.heigit.org/heigit/argocd-cli:latest
  script:
    - |
      argocd app actions \
        run argocd/${ARGOCD_STAGING_APPLICATION_NAME} \
        restart --kind Deployment \
        --server ${ARGOCD_SERVER} \
        --auth-token ${ARGOCD_AUTH_TOKEN}\
        --resource-name can-${CI_PROJECT_NAME}
